.row-header{
    padding: 0px auto;
    margin: 0px auto;
}

.row-content{
    margin-left: 5px;
    padding: 50px 0px 50px 0px;
    /* border-bottom: 1px ridge; */
    min-height: 300px;
}

.footer{
   margin: 0px auto;
   padding: 20px 0px 20px 0px;
   background-color: #D1C4E9;
}

.footer , a{
    text-decoration: none;
}
.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #9575CD;
    color: floralwhite;
    border-radius: 7px;
}

  

